.PortfolioCard {
    border-radius: 1rem;
    width: 100%;
}
.PortfolioCard:hover {
    transform: translateY(-20px);
    transition-duration: 400ms;
}
.CardImage {
    height: 400px;
    width: 100%;
    background-color: #f1f2f5;
    border-radius: .4rem;
    flex-shrink: 0;
    object-fit: cover;
}
.PortfolioCard p {
    margin-top: -30px;
}
.PortfolioCard h3 {
    margin-top: 10px;
}